# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Large Model Weights & Checkpoints (Keep evaluation logs, JSONs, and curve plots)
*.pt
*.pth
*.bin
*.onnx
*.safetensors
*.ckpt

# Local Datasets
PADUFES/
ISIC2019/
PlantDoc/
data/

# Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Output / Log files
*.log
